body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

h2 {
    font-size: 24px;
    font-weight: bolder;
}

h4 {
    font-size: 16px;
    font-weight: normal;
}

/* for clearing any floats -- use with div */
.clear {
    clear: both;
}

ol {
    list-style-type: upper-roman;
}

/* individual ol li item */
.section {
    padding: 10px;
}

.odd {
    background-color: #efefef;
}

.even {
    background-color: #fefefe;
}

/* BEGIN section information styling */
.thumb img {
    object-fit: cover;
    object-position: 50% 0%;
    width: 100px;
    height: 120px;
    float: left;
}

.info {
    margin-left: 100px;
    height: 100%;
}

.name {
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
}

.term {
    padding: 10px;
    font-size: 12px;
}

ul {
    list-style: square inside;
    margin-left: 0;
    padding-left: 0;
}

ul li {
    padding: 5px;
}

.credit {
    padding: 0 10px;
    font-size: 10px;
    font-style: italic;
    color: #666;
    top: 13px;
    position: relative;
}

.credit span {
    font-style: normal;
    font-weight: bold;
}
/* END section information styling */